<div class="thumbnail">
  <div class="caption">
    <h3 class="movie-title"><%= movie.title %></h3>
    <span><strong>Posted by <%= link_to movie.user.full_name, movies_path(@params.merge({user_id: movie.user_id})) %></strong> - <i><%= posted_period(movie) %> ago</i></span>
    <p class="movie-description"><%= movie.description %></p>
    <p>
      <%= "Be the first to vote for this movie: " if !movie.has_votes? && user_signed_in? && movie.user != current_user %>
      <%= link_to_like(movie) %> |
      <%= link_to_hate(movie) %>
      <%= link_to_delete_vote(movie) %>
    </p>
  </div>
</div>