<% if @movies.present? %>
  <div class="row">
    <div class="col-sm-12">
      <ol class="breadcrumb">
        <li class="active">Sort by:</li>
        <li><%= link_to "Likes", movies_path(@params.merge({sort_by: "likes_count"})) %></li>
        <li><%= link_to "Hates", movies_path(@params.merge({sort_by: "hates_count"})) %></li>
        <li><%= link_to "Date", movies_path(@params.merge({sort_by: "created_at"})) %></li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-md-8">
      <% @movies.each do |movie| %>
        <%= render partial: "movie_teaser", locals: { movie: movie } %>
      <% end %>
    </div>
    <div class="col-sm-4 col-md-4">
      <% if user_signed_in? %>
        <%= link_to "New Movie", new_movie_path, class: "btn btn-default" %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-sm-12">
      <% if user_signed_in? %>
        <%= link_to "New Movie", new_movie_path, class: "btn btn-default" %>
      <% else %>
        There is nothing here :(
      <% end %>
    </div>
  </div>
<% end %>